{% extends "user_layout.html" %}
{% block userbody %}

    <br />

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <img class="img-rounded" src="{{ user.avatar_full }}">
        </div>
        <div class="col-md-3 text-center">
            <h3>{{ user.nickname }}</h3>
            <p>
                <a href="http://steamcommunity.com/profiles/{{ user.id }}" data-toggle="tooltip" data-placement="bottom" title="Profil Steam Community">
                    <img class="img-rounded" src="{{ url_for('static', filename='img/steamicon.png') }}"></a>
                &nbsp;
                <a href="http://www.dotabuff.com/players/{{ user.id }}" data-toggle="tooltip" data-placement="bottom" title="Profil Dotabuff">
                    <img class="img-rounded" src="{{ url_for('static', filename='img/dotabufficon.png') }}"></a>
                &nbsp;
                {% if user.has_permission("admin") %}
                <img src="{{ url_for('static', filename='img/adminicon.png') }}" data-toggle="tooltip" data-placement="bottom" title="Admin">
                {% else %}
                <img src="{{ url_for('static', filename='img/emptyicon.png') }}">
                {% endif %}
                &nbsp;
                {% if user.verified %}
                <img src="{{ url_for('static', filename='img/verifiedicon.png') }}" data-toggle="tooltip" data-placement="bottom" title="Utilisateur Vérifié">
                {% else %}
                <img src="{{ url_for('static', filename='img/emptyicon.png') }}">
                {% endif %}
            </p><br />
            <p>
                Solo MMR
                {% if user.solo_mmr is none %}
                    Inconnu
                {% else %}
                    {{ user.solo_mmr }}
                {% endif %}
            </p>
            <p>
                {% if user.section is none %}
                    Membre d'aucun ladder.
                {% elif user.section == 'high'%}
                    Membre du ladder > 5K.
                {% elif user.section == 'medium' %}
                    Membre du ladder intermédiaire de 3K à 5K.
                {% elif user.section == 'low' %}
                    Membre du ladder < 3K.
                {% endif %}
            </p>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>
            {% if user.profile_scan_info is not none and user.profile_scan_info.last_scan is not none %}
                Le dernier scan de profil Dota remonte au {{ user.profile_scan_info.last_scan|french_date }}.
            {% else %}
                Aucun scan de profil effectué.
            {% endif %}
            <br />
            {% if current_user.is_authenticated and current_user.id == user.id %}
            <span class="logout glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Vous devez afficher votre MMR sur votre profil Dota pour qu'il soit détecté.
            <br />
            {% if scan_possible %}
                <a href="{{ url_for('user_blueprint.user_scan', user_id=current_user.id) }}">Cliquez-ici</a> pour lancer un scan de votre profil Dota.
            {% else %}
                Vous ne pouvez lancer un scan qu'une fois toutes les 5 minutes, rafraîchissez votre de page dans un instant pour avoir le résultat.
            {% endif %}
            {% endif %}
            </p>
        </div>
    </div>

    {% if current_user.is_authenticated and current_user.has_permission("admin") %}
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>Actions d'administration</p>
            <ul>
                <li>
                    <a href="{{ url_for('user_blueprint.nickname_delete', steam_id=user.id) }}">Supprimer le pseudo du joueur (force nouveau choix)</a>
                </li>
                <li>
                    <a href="{{ url_for('user_blueprint.verify_user', steam_id=user.id) }}">Verifier/Dévérifier utilisateur</a>
                </li>
                <li>
                    {% if user.has_permission("admin") %}
                    <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='admin', give=False) }}">Retirer droits d'administration</a>
                    {% else %}
                    <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='admin', give=True) }}">Donner droits d'administration</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ url_for('user_blueprint.user_section', steam_id=user.id, ladder='high') }}">Forcer ladder high</a>
                </li>
                <li>
                    <a href="{{ url_for('user_blueprint.user_section', steam_id=user.id, ladder='medium') }}">Forcer ladder medium</a>
                </li>
                <li>
                    <a href="{{ url_for('user_blueprint.user_section', steam_id=user.id, ladder='low') }}">Forcer ladder low</a>
                </li>
                <li>
                    <a href="{{ url_for('user_blueprint.user_scan', user_id=user.id) }}">Forcer scan</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}



{% endblock %}
