{% extends "user_layout.html" %}
{% block userbody %}

<div ng-controller="NicknameController">

    <h1 class="page-header">Pseudo</h1>

        <p>Vous n'avez pas encore de pseudo sur Dazzar. Vous devez en choisir un (unique) pour être reconnu sur la plateforme.</p>

        Choisissez votre pseudo <input type="text" name="nickname" ng-model="nickname">
        <p class="text-danger">{a message a}</p>
        <button type="button" class="btn btn-primary" ng-click="validate_nickname()">Valider</button>
</div>

{% endblock %}
