{% extends "layout.html" %}

{% block body %}

<section class="sub-top-bar">

    <nav class="sub-titles">
        <ul>
            {% if request.url_rule.endpoint in ['mix_blueprint.mix_users'] %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <span class="sub-title">
					<a href="{{ url_for('mix_blueprint.mix_users') }}">Affichage</a>
				</span>
            </li>

            {% if request.url_rule.endpoint in ['mix_blueprint.mix_edit'] %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <span class="sub-title">
					<a href="{{ url_for('mix_blueprint.mix_edit') }}">Mon Annonce</a>
				</span>
            </li>
        </ul>
    </nav>

</section>

<div class="container sub-body">

    {% block mixbody %}{% endblock %}

</div>
{% endblock %}
