{% extends "layout.html" %}
{% block body %}
<div class="container body">

    <h1 class="page-header">Dazzar</h1>

    <p>Le dazzar ouvre tous les mardis et vendredis, sauf événement spécial.
        Si vous rencontrez un problème sur le ladder (joueurs ou bug), envoyez un mail à philaeux@the-cluster.org.
        A la fin du major Kiev, le dimanche 30 avril, les premiers des ladders low et high recevront respectivement un autographe in-game de 7ckngMad et un arcana.
        Les prochaines dates d'ouverture sont</p>
    <ul>
        <li>Le vendredi 24 février.</li>
        <li>Le mardi 28 février.</li>
        <li>Le vendredi 3 mars.</li>
        <li>Le mardi 7 mars.</li>
        <li>Le vendredi 10 mars.</li>
        <li>Le mardi 14 mars.</li>
    </ul>

    <h2>Ladder</h2>

    <p>Variante au matchmaking classique, retrouvez la communauté Française dans un ladder dédié. Scannez votre MMR
        depuis votre profil, puis accédez au ladder qui vous correspond: inférieur à 4K5 et supérieur à 4K5.</p>

    <ul>
        <li>Les smurfs sont interdits (ban à vue).</li>
        <li>Mode de jeu par vote, serveur Luxembourg, limitation des pauses.</li>
        <li>Un bot crée les parties et invite les joueurs. Vous avez 5 min pour rejoindre une partie avant d'être déclaré leaver.</li>
        <li>Saison 2: suppression du vMMR, équilibrage par MMR, points par victoires, 2 ladders au lieu de 3.</li>
        <li>Victoire = +1, Défaite = 0, Dodge = -2, Leave = -3</li>
    </ul>

    <h2>Mixeur</h2>
    <p>Le Mixeur est un outil pour rencontrer de nouvelles personnes avec qui jouer, pour quelque occasion que ce
        soit.</p>

    <ul>
        <li>
            Le format de l'annonce est libre: recherche de lasts, d'équipe, stacks... Informez au maximum l'objectif
            (MMR de groupe, Tournoi FroggedTV, BattleCup, Team TI), et le niveau (débutant, 5K+)... La description
            supporte le format Markdown.
        </li>
        <li>Lorsque vous désactivez votre annonce, elle est conservée sur le serveur. Vous pouvez rapidement la
            réactiver par la suite.
        </li>
    </ul>

</div>
{% endblock %}
