{% extends "layout.html" %}
{% block body %}
<div class="container body">

    <h1 class="page-header">Dazzar</h1>

    <p>Les prochaines dates d'ouverture du ladder sont</p>
    <ul>
        <li>Le samedi 14 Janvier de 20h à 1h+.</li>
        <li>Le mardi 17 Janvier de 20h à 0h+.</li>
        <li>Le vendredi 20 Janvier de 20h à 1h+.</li>
    </ul>

    <h2>Ladder</h2>

    <p>Variante au matchmaking classique, retrouvez la communauté Française dans un ladder dédié. Scannez votre MMR
        depuis votre profil, puis accédez au ladder qui vous correspond: inférieur à 3K, entre 3K et 5K, et supérieur à
        5K.</p>

    <ul>
        <li>
            Mode de jeu Random Draft, serveur Luxembourg, limitation des pauses. Chaque joueur commence à 5K vMMR.
        </li>
        <li>
            La gestion des parties est automatique. Lorsque 10 joueurs sont disponibles, un bot va créer la room et vous
            inviter dans la partie. Rejoignez le slot de votre équipe et le bot lancera la partie une fois que tout le
            monde est présent. Le score sera automatiquement reporté sur le site.
        </li>
        <li>Vous avez 5 min pour rejoindre une partie avant d'être déclaré leaver.</li>
        <li>Il n'y a aucun moyen de détecter la nationalité des joueurs. Cependant, si des abus sont constatés, les
            inscriptions seront plus restrictives qu'un simple scan.
        </li>
    </ul>

    <h2>Mixeur</h2>
    <p>Le Mixeur est un outil pour rencontrer de nouvelles personnes avec qui jouer, pour quelque occasion que ce
        soit.</p>

    <ul>
        <li>
            Le format de l'annonce est libre: recherche de lasts, d'équipe, stacks... Informez au maximum l'objectif
            (MMR de groupe, Tournoi FroggedTV, BattleCup, Team TI), et le niveau (débutant, 5K+)... La description
            supporte le format Markdown.
        </li>
        <li>Lorsque vous désactivez votre annonce, elle est conservée sur le serveur. Vous pouvez rapidement la
            réactiver par la suite.
        </li>
    </ul>

</div>
{% endblock %}
