{% extends "layout.html" %}
{% block body %}
<h1 class="page-header">Détails de l'Utilisateur</h1>

<div class="container">
    <ul>
        <li>Pseudo: {{ user.nickname }}</li>
        {% if current_user.is_authenticated and current_user.has_permission("admin") %}
            <a href="{{ url_for('user_blueprint.nickname_delete', steam_id=user.id) }}">Supprimer le pseudo du joueur (force nouveau choix)</a>
        {% endif %}
        <li>SteamID: {{ user.id }}</li>
        <li><a href="http://www.dotabuff.com/players/{{ user.id }}">Dotabuff</a> & <a href="http://steamcommunity.com/profiles/{{ user.id }}">Steam Profile</a></li>

        <li>Admin:
            {% if user.has_permission("admin") %}
            Oui
            {% else %}
            Non
            {% endif %}
        </li>
        {% if current_user.is_authenticated and current_user.has_permission("admin") %}
            {% if user.has_permission("admin") %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='admin', give=False) }}">Retirer droits d'administration</a>
            {% else %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='admin', give=True) }}">Donner droits d'administration</a>
            {% endif %}
        {% endif %}

        <li>Voucher:
            {% if user.has_permission("vouch_vip") %}
            Oui
            {% else %}
            Non
            {% endif %}
        </li>
        {% if current_user.is_authenticated and current_user.has_permission("admin") %}
            {% if user.has_permission("vouch_vip") %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='vouch_vip', give=False) }}">Retirer la permission de gérer les joueurs</a>
            {% else %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='vouch_vip', give=True) }}">Donner la permission de gérer les joueurs</a>
            {% endif %}
        {% endif %}

        <li>Joueur VIP:
            {% if user.has_permission("play_vip") %}
            Oui
            {% else %}
            Non
            {% endif %}
        </li>
        {% if current_user.is_authenticated and current_user.has_permission("vouch_vip") %}
            {% if user.has_permission("play_vip") %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='play_vip', give=False) }}">Retirer la permission de jouer</a>
            {% else %}
            <a href="{{ url_for('user_blueprint.user_permission', steam_id=user.id, permission='play_vip', give=True) }}">Donner la permission de jouer</a>
            {% endif %}
        {% endif %}
    </ul>

    {% if current_user.id == user.id %}
    <p>
    Informations récupérées avec le scan du compte dota. <a href="{{ url_for('user_blueprint.user_scan') }}">Cliquez-ici</a> pour lancer un nouveau scan.<br />
    <ul>
        <li>Dernier scan:
            {% if current_user.last_scan is none %}
            Jamais
            {% else %}
            {{ current_user.last_scan}}
            {% endif %}
        </li>
        <li>Dernier Solo MMR scanné :
            {% if current_user.solo_mmr is none %}
            Inconnu
            {% else %}
            {{ current_user.solo_mmr }}
            {% endif %}
        </li>
    </ul>
    </p>
    {% endif %}

</div>
{% endblock %}
