{% extends "layout.html" %}
{% block body %}
<h1 class="page-header">Utilisateurs</h1>

<div class="container">
    <p>Les utilisateurs peuvent être Admin (A), Voucher (V) ou Joueur (J).</p>
    <table id="users" class="display cell-border stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="dt-head-center">SteamID</th>
                <th>Utilisateur</th>
                <th class="dt-head-center">Permissions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('#users').DataTable({
            "paging": true,
            "ordering": false,
            "lengthChange": false,
            "pageLength": 50,
            "info": false,
            "language": {
                "loadingRecords": "Chargement...",
                "processing": "Chargement...",
                "emptyTable": "Aucun résultat.",
                "search": "Rechercher:",
                "paginate": {
                    "first":      "Premier",
                    "last":       "Dernier",
                    "next":       "Suivant",
                    "previous":   "Précédent"
                }
            },
            "processing": true,
            "searchDelay": 1000,
            "serverSide": true,
            "ajax": "{{ url_for('user_blueprint.api_users') }}",
            "columnDefs": [
                { className: "dt-body-center", "width": "200px", "targets": 0 },
                { className: "dt-body-center", "width": "150px", "targets": 2 }
            ]
        });

        $('#users tbody').on( 'click', 'tr', function () {
            window.location = {{ url_for('user_blueprint.user', steam_id='') }} + $(this).children()[0].textContent;
        });
    } );
</script>
{% endblock %}