@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    display:flex;
    flex-direction:column;
    height:100vh;
}

.body {
    padding-top: 60px;
    flex: 1;
}

.sub-body {
    padding-top: 120px;
    flex: 1;
}

/* Top bar */

.top-bar {
	position: fixed;
	font-family: 'Montserrat';
    z-index: 20;
    background: rgba(243, 243, 243, 1);
	width: 100%;
    max-width: 100%;
	height: 60px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    text-align:center;
}

.logo {
	float: left;
}

.titles {
	display: inline-block;
	height: 100%;
}

.titles ul {
    vertical-align: middle;
	list-style:none;
	height: 100%;
	padding-left: 0px;
}

.titles li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
	height: 100%;
	margin-left: 30px;
	font-size: 18px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.title {
    display: flex;
	align-items: center;
	height: 100%;
}


.titles li.selected {
    border-bottom: 5px solid #777777;
}

.titles a {
	color: #AAAAAA;
}

.titles li.selected a{
	color: #777777;
}

.titles a:hover {
	text-decoration: none;
}

.text-right {
	float: right;
	display: inline-block;
	height: 100%;
}

.account {
    position:absolute;
    right:0;
	font-size: 15px;
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 5px;
	list-style:none;
}

.account a:hover {
	text-decoration: none;
}

.account .avatar {
    border: #BBBBBB 2px solid;
    border-radius: 5px;
}

.account li {
	margin-right: 10px;
}

.account .logout {
    color: black;
    padding-top: 5px;
}

/* Sub bar */
.sub-top-bar {
    margin-top: 45px;
	position: fixed;
	font-family: 'Montserrat';
    z-index: 15;
	height: 60px;
    text-align:center;
    width:100%;
    max-width:100%;
}

.sub-titles {
	display: inline-block;
	height: 100%;
}

.sub-titles ul {
    vertical-align: middle;
	list-style:none;
	height: 100%;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	background: rgba(243, 243, 243, 1);
}

.sub-titles li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
	height: 100%;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 16px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.sub-title {
    display: flex;
	align-items: center;
	height: 100%;
}


.sub-titles li.selected {
    border-bottom: 5px solid #777777;
}

.sub-titles a {
	color: #AAAAAA;
}

.sub-titles li.selected a{
	color: #777777;
}

.sub-titles a:hover {
	text-decoration: none;
}

/* Footer */
.credits {
    text-align: center;
    flex: none;
    display: flex;
    align-items: center;
    height: 45px;
    border-top: 1px solid #c1c1c1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.credits-content {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

/* General */
.greenText {
    color: #3c763d;
}

.redText {
    color: #a94442;
}

.blueText {
    color: #31708f;
}
