{% extends "ladder_layout.html" %}
{% block ladderbody %}
    <table id="matches" class="display cell-border stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="dt-head-center">Ladder</th>
                <th class="dt-head-center">État</th>
                <th class="dt-head-center">Date</th>
                <th>Nom de la partie</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('#matches').DataTable({
            "paging": true,
            "ordering": false,
            "lengthChange": false,
            "searching": false,
            "pageLength": 20,
            "info": false,
            "language": {
                "loadingRecords": "Chargement...",
                "processing": "Chargement...",
                "emptyTable": "Aucun résultat.",
                "search": "Rechercher:",
                "paginate": {
                    "first":      "Premier",
                    "last":       "Dernier",
                    "next":       "Suivant",
                    "previous":   "Précédent"
                }
            },
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('ladder_blueprint.api_matches') }}",
            "columnDefs": [
                { className: "dt-body-center", "width": "100px", "targets": 0,
                    "render": function ( data, type, full, meta ) {
                        if (full[1] == 'high') return '<span class="redText">Haut</span>';
                        else if (full[1] == 'medium') return '<span class="greenText">Moyen</span>';
                        else if (full[1] == 'low') return '<span class="blueText">Bas</span>';
                        else return '';
                    }
                },
                { className: "dt-body-center", "width": "100px", "targets": 1,
                    "render": function ( data, type, full, meta ) {
                        if (full[2] == 0) return '<span class="blueText">Création</span>';
                        else if (full[2] == 1) return '<span class="blueText">En attente</span>';
                        else if (full[2] == 3) return '<span class="blueText">En cours</span>';
                        else if (full[2] == 2) return '<span class="redText">Annulé</span>';
                        else if (full[2] == 4) return '<span class="greenText">Terminé</span>';
                        else return '';
                    }
                },
                { className: "dt-body-center", "width": "200px", "targets": 2,
                    "render": function ( data, type, full, meta ) {
                        return full[3];
                    }
                },
                { "targets": 3,
                    "render": function ( data, type, full, meta ) {
                        return '<a href="{{ url_for('ladder_blueprint.match', match_id=0) }}' + full[0] + '">Dazzar Game ' + full[0] + '</a>';
                    }
                }
            ]
        });
    } );
</script>
{% endblock %}