{% extends "layout.html" %}

{% block body %}

<section class="sub-top-bar">

    <nav class="sub-titles">
        <ul>
            {% if request.url_rule.endpoint in ['ladder_blueprint.ladder_play'] %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <span class="sub-title">
					<a href="{{ url_for('ladder_blueprint.ladder_play') }}">Jouer</a>
				</span>
            </li>

            {% if request.url_rule.endpoint in ['ladder_blueprint.ladder_scoreboard'] %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <span class="sub-title">
					<a href="{{ url_for('ladder_blueprint.ladder_scoreboard', ladder='high') }}">Scoreboards</a>
				</span>
            </li>

            {% if request.url_rule.endpoint in ['ladder_blueprint.ladder_matches'] %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <span class="sub-title">
					<a href="{{ url_for('ladder_blueprint.ladder_matches') }}">Matchs</a>
				</span>
            </li>
        </ul>
    </nav>

</section>

<div class="container sub-body">

    {% block ladderbody %}{% endblock %}

</div>
{% endblock %}
