{% extends "ladder_layout.html" %}

{% block ladderbody %}

    <div ng-controller="QueueController">

        <div ng-if="queue_details.is_open">
            {% if current_user.has_permission('admin') %}
            <button type="button" class="btn btn-primary" ng-click="open_close_ladder('0')">Fermer le Ladder</button>
            {% endif %}
            <p>Le ladder est ouvert.</p>

            <p>
            {% if current_user.section is none %}
            Vous ne pouvez pas rejoindre la queue car vous n'avez pas encore scan votre MMR. Rendez vous sur votre <a
                    href="{{ url_for('user_blueprint.user_profile') }}">Profil</a> pour effectuer cette opération.
            {% else %}
                {% if current_user.section == 'high' %}
                Vous êtes dans le ladder > 4K5 MMR.
                {% elif current_user.section == 'low' %}
                Vous êtes dans le ladder < 4K5 MMR.
                {% endif %}

                <br />
                <label title="All Pick">AP <input type="checkbox" ng-model="modes.ap" ng-disabled="queue_details.user.in_queue"></label>
                <label title="Random Draft">RD <input type="checkbox" ng-model="modes.rd" ng-disabled="queue_details.user.in_queue"></label>
                <label title="Captain Draft">CD <input type="checkbox" ng-model="modes.cd" ng-disabled="queue_details.user.in_queue"></label><br/>
                <button type="button" class="btn btn-primary" ng-click="in_out_queue('1')" ng-if="!queue_details.user.in_queue">Rentrer dans la queue</button>
                <button type="button" class="btn btn-primary" ng-click="in_out_queue('0')" ng-if="queue_details.user.in_queue">Sortir de la queue</button>
            {% endif %}
            </p>

            <p>État des queues:</p>
            <ul>
                <li>Haut MMR: {a queue_details.queues.high a} / 10.</li>
                <li>Bas MMR: {a queue_details.queues.low a} / 10.</li>
            </ul>

        </div>

        <div ng-if="!queue_details.is_open">
            {% if current_user.has_permission('admin') %}
            <button type="button" class="btn btn-primary" ng-click="open_close_ladder('1')">Ouvrir le Ladder</button>
            {% endif %}
            <p>Le ladder n'est pas ouvert pour le moment.</p>
        </div>

    </div>

{% endblock %}
