{% extends "ladder_layout.html" %}

{% block ladderbody %}

    <h2>Dazzar Game {{ match.id }}</h2>

    <ul>
        <li>Partie crée le {{ match.created|french_date }}</li>
        <li>Ladder
        {% if match.section == 'high' %}
            <span class="redText">Haut</span>.
        {% elif match.section == 'medium' %}
            <span class="greenText">Moyen</span>.
        {% else %}
            <span class="blueText">Bas</span>.
        {% endif %}
        </li>
        <li>Mode de jeu: {{ match.mode.upper() }}</li>
        <li>État du match -
            {% if match.status == 0 %}Le bot est en train de s'initialiser pour créer la partie.
            {% elif match.status == 1 %}La game est crée, le bot invite les joueurs avant de lancer.
            {% elif match.status == 2 %}La partie a été annulée (dodge/erreur).
            {% elif match.status == 3 %}La partie est en cours dans Dota.
            {% elif match.status == 4 %}La partie est terminée.
            {% endif %}
        </li>
        {%if match.server is not none %}
        <li>Pour observer, utilisez cette commande dans la console: watch_server "{{ match.server }}"</li>
        {% endif %}
        {% if current_user.is_authenticated %}
            {% for player in match.players %}
                {% if current_user.id == player.player_id %}
                    <li>Mot de passe du match "{{ match.password }}" (si vous ne recevez pas l'invitation du bot)</li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if match.radiant_win is not none %}
            {% if match.radiant_win %}
            <li>Ce match a été remporté par le <span class="greenText">Radiant</span>.</li>
            {% elif not match.radiant_win %}
            <li>Ce match a été remporté par le <span class="redText">Dire</span>.</li>
            {% endif %}
        {% endif %}
    </ul>

    <p><span class="logout glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Respectez les teams/slots pour ne pas être kick. Un meilleur slot a la priorité du pick/position.</p>

    <table id="players" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="dt-head-center">Pseudo</th>
                <th class="dt-head-center">Team</th>
                <th class="dt-head-center">Slot</th>
                <th class="dt-head-center">MMR</th>
            </tr>
        </thead>
        <tbody>
            {% for player in match.players %}
            <tr>
                <td><a href="{{ url_for('user_blueprint.user', steam_id=player.player_id) }}">{{ player.player.nickname }}</a></td>
                <td class="dt-body-center">
                    {% if player.is_radiant %}
                        <span class="greenText">Radiant</span>
                    {% else %}
                        <span class="redText">Dire</span>
                    {% endif %}
                </td>
                <td class="dt-body-center">{{ player.team_slot }}</td>
                <td class="dt-body-center">{{ player.mmr }}
                    {% if player.is_leaver %}
                    <span data-toggle="tooltip" data-placement="bottom" title="Leave"
                          class="logout glyphicon glyphicon-fire" aria-hidden="true"></span>
                    {% endif %}
                    {% if player.is_dodge %}
                    <span data-toggle="tooltip" data-placement="bottom" title="Dodge"
                          class="logout glyphicon glyphicon-flash" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.is_authenticated and current_user.has_permission("admin") %}
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>Actions d'administration</p>
            <ul>
                {% if match.status not in [ 2, 4 ] %}
                <li>
                    <a href="{{ url_for('ladder_blueprint.cancel_match', match_id=match.id) }}">Annuler ce match</a>
                </li>
                {% endif %}
                {% if match.status in [ 2, 4 ] %}
                    {% if match.status == 2 or not match.radiant_win %}
                        <li><a href="{{ url_for('ladder_blueprint.change_outcome', match_id=match.id, outcome='Radiant') }}">Déclarer Radiant gagnant.</a></li>
                    {% endif %}
                    {% if match.status == 2 or match.radiant_win %}
                        <li><a href="{{ url_for('ladder_blueprint.change_outcome', match_id=match.id, outcome='Dire') }}">Déclarer Dire gagnant.</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('#players').DataTable({
            "paging": false,
            "ordering": true,
            "lengthChange": false,
            "searching": false,
            "pageLength": 20,
            "info": false,
            "language": {
                "emptyTable": "Aucun résultat."
            },
            "order": [[ 1, "desc"], [2, "asc"]],
            "columnDefs": [
                { "targets": [0, 3, 4], "orderable": false },
            ],
        });

        {% if match.status == 0 or match.status == 1 %}
            {% if current_user.is_authenticated %}
                {% for player in match.players %}
                    {% if current_user.id == player.player_id %}
                        var snd = new Audio("{{ url_for('static', filename='river_vial.mp3')}}");
                        snd.volume = 0.5
                        snd.play();
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    });
</script>
{% endblock %}
