{% extends "ladder_layout.html" %}
{% block ladderbody %}

    {% if ladder=='high' %}
        <a href="{{ url_for('ladder_blueprint.ladder_scoreboard', ladder='high')}}" type="button" class="btn btn-primary">
    {% else %}
        <a href="{{ url_for('ladder_blueprint.ladder_scoreboard', ladder='high')}}" type="button" class="btn btn-default">
    {% endif %}
    Haut MMR</a>

    {% if ladder=='low' %}
        <a href="{{ url_for('ladder_blueprint.ladder_scoreboard', ladder='low')}}" type="button" class="btn btn-primary">
    {% else %}
        <a href="{{ url_for('ladder_blueprint.ladder_scoreboard', ladder='low')}}" type="button" class="btn btn-default">
    {% endif %}
    Bas MMR</a>
    <br /><br />

    <table id="users" class="display cell-border stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th class="dt-head-center">vMMR</th>
                <th class="dt-head-center">MMR</th>
                <th></th>
                <th class="dt-head-center">Pseudonyme</th>
                <th class="dt-head-center">Matches</th>
                <th class="dt-head-center">Wins</th>
                <th class="dt-head-center">Loss</th>
                <th class="dt-head-center">Dodge</th>
                <th class="dt-head-center">Leave</th>
                <th class="dt-head-center">W/R</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}

{% block endscripts %}
<script>
    $(document).ready(function() {
        $('#users').DataTable({
            "paging": true,
            "ordering": false,
            "lengthChange": false,
            "searching": false,
            "pageLength": 20,
            "info": false,
            "language": {
                "loadingRecords": "Chargement...",
                "processing": "Chargement...",
                "emptyTable": "Aucun résultat.",
                "search": "Rechercher:",
                "paginate": {
                    "first":      "Premier",
                    "last":       "Dernier",
                    "next":       "Suivant",
                    "previous":   "Précédent"
                }
            },
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('ladder_blueprint.api_scoreboard', ladder=ladder) }}",
            "columnDefs": [
                { className: "dt-body-center", "width": "30px", "targets": 0,
                    "render": function ( data, type, full, meta ) {
                                  return full[1];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 1,
                    "render": function ( data, type, full, meta ) {
                                  return full[4];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 2,
                    "render": function ( data, type, full, meta ) {
                                  return full[5];
                               }
                },
                { className: "dt-body-center", "width": "40px", "targets": 3,
                    "render": function ( data, type, full, meta ) {
                                  var html = '<img src="'+full[0]+'">'
                                  return html;
                               }
                },
                { "targets": 4,
                    "render": function ( data, type, full, meta ) {
                                  var html = ''
                                  html += '<a href="http://steamcommunity.com/profiles/' + full[3]
                                       + '" data-toggle="tooltip" data-placement="bottom" title="Profil Steam Community"'
                                       + '><img class=".img-rounded" src="{{ url_for('static', filename='img/steamicon.png') }}"></a>'
                                  html += '&nbsp;<a href="http://www.dotabuff.com/players/' + full[3]
                                       + '" data-toggle="tooltip" data-placement="bottom" title="Profil Dotabuff"'
                                       + '><img src="{{ url_for('static', filename='img/dotabufficon.png') }}"></a>'
                                  html += '&nbsp;&nbsp;<a href="{{ url_for('user_blueprint.user', steam_id=0) }}' + full[3] + '">'
                                            + full[2] + '</a>';
                                  return html;
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 5,
                    "render": function ( data, type, full, meta ) {
                                  return full[6];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 6,
                    "render": function ( data, type, full, meta ) {
                                  return full[7];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 7,
                    "render": function ( data, type, full, meta ) {
                                  return full[8];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 8,
                    "render": function ( data, type, full, meta ) {
                                  return full[9];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 9,
                    "render": function ( data, type, full, meta ) {
                                  return full[10];
                               }
                },
                { className: "dt-body-center", "width": "50px", "targets": 10,
                    "render": function ( data, type, full, meta ) {
                                  return Math.round(full[7]/full[6]*100) + '%';
                               }
                }
            ]
        });
    } );
</script>
{% endblock %}
